

.tour_name{
    margin-top: 69px;
    margin-left: 67px;
    margin-right: 67px;
}

.nav_back{
    display: flex;
    justify-content: space-between;

}

.btn_back {
    display: flex;
    border-radius: 30px;
    border: none;
    background: #D89901;
    padding: 8px 22px;
    cursor: pointer;
    color: #0b0b0b;
    font-size: 20px;
    transition: 0.2s;
}
.btn_back:hover {
    background-color: #a5770b;
}


.btn_text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    margin-left: 11px;
}

.countries{
    margin-left: 698px;
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
}

.nameTour{
    margin-top: 51px;

    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 600;
}

.description_tour{
    margin-top: 14px;

    display: flex;
    justify-content: space-between;
}

.price{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
}

.description_price{
    margin-top: 10px;

    color: #ABABAB;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
}

.dataTour{
    display: flex;
}

.data{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    margin-left: 14px;
}

.btn_arrange{
    margin-top: 45px;
    padding: 11px 61px ;

    border-radius: 33px;
    border: none;
    background: #D89901;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}

.btn_arrange:hover {
    background-color: #a5770b;
}






.tickets{
    margin-top: 68px;
    margin-left: 39px;
    margin-right: 39px;

    display: grid;
}

.ticket{
    margin-top: 18px;
    border-radius: 33px;
    background: #EBEBEB;
    padding: 37px 42px;
}

.flight{
    display: flex;
    justify-content: space-between;
}

.cities{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
}

.plane{
    text-align: right;
    margin-left: 70px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.time{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

span{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
}

.time_begin{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
}

.time_end{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
}

.travel_time{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
}

.place{
    display: flex;
    justify-content: space-between;
}

.place_name{
    margin-top: 16px;
}

.airport_name{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
}

.city_name{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}





.hotels{
    margin-top: 65px;
    margin-left: 86px;
    margin-right: 86px;

}

.hotels_title{
    text-align: center;
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
}

.hotels_list{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}



.img_otel{
    border-radius: 33px 33px 0px 0px;
}

.hotel_name{
    margin-top: -5px;
    border-radius: 0px 0px 33px 33px;
    background: #EDE6D3;
    padding: 20px 35px;
}

.name_text{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
}

.where_hotel{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
}







.excursions{
    margin-top: 65px;
    margin-left: 86px;
    margin-right: 86px;
}

.excursions_title{
    text-align: center;
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
}

.excursions_list{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.excursion_name{
    margin-top: -5px;
    border-radius: 0px 0px 33px 33px;
    background: #EDE6D3;
    padding: 20px 35px;
}

.excursion_name_date{
    display: flex;
    justify-content: space-between;
}

.excursion_description{
    margin-top: 22px;
    width: 523px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}


.excursion_name_text{
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.excursion_date_text{
    display: inline;
    color: #0B0B0B;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}

.excursion_description{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}






.maintainer{
    margin-top: 70px;
    margin-left: 86px;
    margin-right: 86px;
    margin-bottom: 69px;
}

.maintainer_container{
    border-radius: 134px;
    background: #EDE5D3;
    padding: 20px 68px;

    display: flex;
    justify-content: space-between;
}

.maintainer_avatar{
    border-radius: 100px;
}

.maintainer_name{
    margin-top: 48px;
    display:inline-block;
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
}

.btn_write{
    margin-top: 43px;
    margin-bottom: 43px;
    border-radius: 33px;
    border: none;
    background: #D89901;
    padding: 10px 25px;

    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.2s;
}
.btn_write:hover {
    background-color: #a5770b;
}
